<h1>Issues#show</h1>
<p>Find me in app/views/issues/show.html.erb</p>


<div class="container">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @issue.name %>
  </p>

</div>
