<div class="col-xs-12 current_issue">
	<div class="vert-center container">
		<div class="col-xs-12">
			<div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="container">
		<div class="col-xs-12">
		  <div class="container issues">
		    <div class="col-xs-12">
		    	<h4 class="text-center"><%= Date.today.strftime('%A %-d %B %Y') %></h4>

					<%= @daily_reading_text.html_safe %>
				</div>
			</div>
		</div>
	</div>
</div>

