<h1>MoonVibeGuide#index</h1>
<p>This is the Moon Vibe Guide welcome page.</p>

<p><%= link_to "Log in to view the Guide", moon_vibe_guide_issues_path %></p>

<p><%= link_to "Subscribe using Stripe", "https://transactions.sendowl.com/subscriptions/2423/8A3CAED8/purchase" %></p>

<p><%= link_to "Subscribe using PayPal", "https://transactions.sendowl.com/subscriptions/2423/8A3CAED8/purchase?gateway=PayPal" %></p>


<p><%# link_to "Join our tribe", new_user_registration_path %></p>


