<div class="col-xs-12 current_issue">
	<div class="vert-center container">
		<div class="col-xs-12">
			<div>
			</div>
		</div>
	</div>
</div>

<div class="col-xs-12">
	<div class="container">
		<p><br /></p>
		<p><%= link_to "Log in to view the Guide", login_path %></p>

		<p><%= link_to "Subscribe using Stripe", "https://transactions.sendowl.com/subscriptions/2423/8A3CAED8/purchase" %></p>

		<p><%= link_to "Subscribe using PayPal", "https://transactions.sendowl.com/subscriptions/2423/8A3CAED8/purchase?gateway=PayPal" %></p>
	</div>
</div>

