<div class="col-xs-12">
	<div class="container">
		<h1>Moon Vibe Guide</h1>
		<p>This is the Moon Vibe Guide welcome page.</p>

		<p><%= link_to "Log in to view the Guide", login_path %></p>

		<p><%= link_to "Subscribe using Stripe", "https://transactions.sendowl.com/subscriptions/2423/8A3CAED8/purchase" %></p>

		<p><%= link_to "Subscribe using PayPal", "https://transactions.sendowl.com/subscriptions/2423/8A3CAED8/purchase?gateway=PayPal" %></p>
	</div>
</div>

