<div class="col-xs-12 current_issue right-align">
	<div class="vert-center container">
		<div class="col-xs-12">
			<div class="pull-right">
				<h4>Readings</h4>
				<h1><%= @podcast.title %></h1>
			</div>
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="col-xs-12">
		<div class="col-xs-12 readings">
			<% @podcast.podcast_details.each do |reading| %>
				<% if reading.entry.blank? %>
					<div class="col-xs-6 col-sm-3 col-md-2">
						<%= link_to (image_tag reading.title.downcase.squish + ".png", class: 'zodiac'), reading.link %>
					</div>
				<% else %>
					<div class="col-xs-6 col-sm-3 col-md-2">
						<%= link_to (image_tag reading.title.downcase.squish + ".png", class: 'zodiac'), moonvibeguide_view_reading_path(reading) %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
