<div class="container-fluid cropped_header">
  <%= image_tag('cropped_header.png', style: 'visibility: hidden; width: 100%; height: auto;') %>
</div>

<div class="page container">
  <div class="col-xs-12">

      <div class="row">
        <%= render 'form' %>
      </div>
    
    
  </div>
   
</div>