$gold: #95785e;
$blackish: #333;
$eggshell: #f7f3ed;
$white: #fff;
$purple: #202945;
$gray-purple: #75657f;
$light-gray-purple: #ada8b0;
$mauve: #a66f7c;
$light-mauve: #c7aaac;
$pink: #e2c8c9;
$soft-pink: #faf6f5;
$maroon: #6c3948;






