/* modifications to bootstrap */

$notification-confirm: #d0e9c6;  
$notification-warning: #fcf8e3;                 
$notification-alert: #f2dede;          

%notification {
  border-radius: 5px;
  display: block;
  font-size: 1em;
  padding: 2em;
  margin: 1em 0;
  width: 100%;
  text-align: left;
  color: #333;

  animation: fadein 2s;
}

.alert {
  @extend %notification;
}

.alert li {
  list-style-type: none;
}

/*flash*/
.alert-error {
    background-color: $notification-warning;
 }

.alert-alert {
    background-color: $notification-alert;
 }

.alert-success {
    background-color: $notification-confirm;
 }

.alert-notice {
    background-color: $notification-warning;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background-color: #fff;
  border: none;

  .moon_guide_title {
    padding: 15px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

.navbar-toggle {
  float: left;
}

.navbar-bottom {
  z-index: 1;

  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0px;
  .container-fluid {
    padding: 0;
  }
}



