$notification-confirm: #d0e9c6;  
$notification-warning: #fcf8e3;                 
$notification-alert: #f2dede;          

%notification {
  border-radius: 10px;
  display: block;
  font-size: 1em;
  padding: 2em;
  margin: 1em ;
  width: 100%;
  text-align: center;
  color: #333;

  animation: fadein 2s;
}

.alert {
  @extend %notification;
}

.alert li {
  list-style-type: none;
}

/*flash*/
.alert-error {
    background-color: $notification-warning;
 }

.alert-alert {
    background-color: $notification-alert;
 }

.alert-success {
    background-color: $notification-confirm;
 }

.alert-notice {
    background-color: $notification-warning;
}