@font-face {
    font-family: 'Domaine';
    src: url(assets/fonts/DomaineText-Black.otf);
}

@font-face {
    font-family: 'Crimson';
    src: url(assets/fonts/CrimsonText-Bold.ttf);
}

@font-face {
    font-family: 'Verlag';
    src: url(assets/fonts/Verlag-Light.otf);
}

@font-face {
    font-family: 'Manifesto';
    src: url(assets/fonts/Manifesto.ttf);
}