// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

#issue_container {
  margin: 0px auto;
  max-width: 860px;
}


.current_issue {
  background-image: image-url('header.png');
  background-size: auto;
  background-repeat: repeat-x;
  background-position: top center;
  padding: 30px 15px;
  color: $gold;
  height: 315px;
  &.issue_list {
    border-bottom: 1px solid $gold !important;
    height: 330px;
    margin: 0 0 15px 0;
  }

  .vert-center {
    min-height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    .col-xs-12 {
      padding: 0;
    }
  }

  .current {
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: $blackish;
    font-size: 1.3em;
    font-family: 'MANIFESTO';
    font-weight: 500;
  }

  .line {
    border-bottom: 1px solid $gold;
    width: 88px;
    display: block;
    margin: 6px 0;
  }

  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 2.75em;
  }

  p, h4 {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .125em;
  }

}

.issues, .readings {
  padding: 30px 0;
  margin: 0px auto;
}


.issues {

  .list_item {
    padding: 30px 0;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    .info {

      .issue_no {
        margin: 0;
        font-size: 1.4em;
        color: $gold;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .1em;
        font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
      }

      .line {
        border-bottom: 1px solid $gold;
        width: 68px;
        display: block;
        margin: 6px 0;
      }
    }

    h3 {
      padding: 0;
      margin: 0 0 10px 0;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .05em;
      line-height: 1.4em;
      color: $blackish;
      font-size: 1.8em;
    }

    .img-holder {
      position: relative;
      overflow: hidden;

      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .issue-img {
          height: auto;
          width: 100%;
          display: block;
        }
      }
    }
  }
}

.includes {
  text-transform: capitalize !important;
  padding: 5px 0;
  font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
}

#guide_navigation {
  position: relative;
  width: 100%;
  padding-left: 15px;
}

#scroll-window.container-fluid {
  padding: 0 !important;
}

#sidebar {
  position: relative;
  padding: 0;
  transition: position 1s;
  z-index: 999;
  padding-top: 10px;
  max-width: 180px;
}

.fixNav {
  position: fixed !important;
  transition: top 1s ease-in;
}


.moon-btn {
  position: relative;  
  display: block;
  max-width: 180px;
  width: 100%;
  height: 180px;
  margin-bottom: 0px;
  text-decoration: none;
  cursor: pointer;
  padding: 0;
  text-align: center;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.2em;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none !important;

  span {
    max-width: 100px;
    color: $purple;
    opacity: 1;
    position: relative;
    font-weight: 500;
    letter-spacing: .125em;
    padding-top: 10px;
  }

  .span:hover {
    text-decoration: none;
  }
  
}

.moon-btn:before {
  content:"";
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: image-url("mandala_button.jpg") no-repeat center;
  background-size: 240px;
  transition: all 1s linear forward;
}
.moon-btn:hover:before {
    opacity: 0.6;

}




.days {

  h1 {
    font-size: 3em;
    line-height: 2em;
    padding-bottom: 0;
    margin: 23px 0 0 0;
  }

  h2 {
    font-size: 3em;
    padding-bottom: 0;
    margin-bottom: 0;
    color: $blackish;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 1.4em;
  }

  .date {
    font-size: 1.5em;
    text-transform: uppercase;
    color: $gold;
    font-weight: 400;
    line-height: 1.4em;
    letter-spacing: .125em;
  }

  .line {
    border-bottom: 1px solid $mauve;
    width: 100%;
    display: block;
    margin: 8px 0 18px;
  }

  p.bold-gold.text-uppercase {
    padding-bottom: 0;
  }

  p {
    padding: 0px;
    line-height: 2em;
    font-size: 1.4em;
  }

  .moontheme {
    clear: both; 
    width: 100%;
    text-align: center;
    position: relative;
    text-transform: uppercase;

    p {
      width: 50%;
      display: inline-block;
      float: left;

      span {
        font-size: 2em;
      }

      .theme-width {
        font-size: 1em;
        width: 200px;
        display: inline-block;
        text-align: center;
        line-height: 1.1em;
      }
    }

    
  }

  .key {
    font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
    background-color: $soft-pink;
    background-position: left 10px;
    padding: 0 5px 50px 5px;
    margin: 30px 0;
    color: $blackish;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    clear: both;

    h4 {
      color: $mauve;
      font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
      padding: 30px 0 0px 0;
      font-size: 2.8em;
    }

    h5 {
      font-size: 2.6em !important;
      text-align: center;
      font-weight: bold;
      span {
        padding: 0 5px;
        display: inline-block;
      }
    }

    p {
      font-size: 2.2em !important;
      font-weight: 400;
      padding-top: 0;
      line-height: 1.4em;

    }

    .number {
      font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
      font-size: 1.6em !important;
      font-weight: 400;
      margin: 20px 0;
      text-align: left;
       span {
        font-size: 1em;
        font-weight: 600;
        padding-top: 20px;
      }
    }
  }

  .affirmation {
    text-align: center;
    padding: 50px;
    margin: 30px 0;
    border: 60px solid;
    border-image: image-url("affirmation.png") 60;

    .text {
      color: $maroon;
      font-size: 1.8em;
      padding-top: 20px;
      p {
        line-height: 1.4em;
      }
    }

    img {
      width: 100%;
      height: auto;
      max-width: 260px;
      margin-bottom: 20px;
    }

    h4 {
      color: $maroon;
      font-family: 'Lato', Helvetica, Arial, Lucida, sans-serif;
      padding: 20px 0;
    }

    .symbol {
      max-width: 140px;
    }
  }
}

.responsive-tabs {
  background-color: $soft-pink;
  padding: 15px 0;
  margin-bottom: 15px;
  box-shadow: 0px 0px 3px 0px $light-mauve;

  li {
    height: 50px;
  }
}

@media (max-width: 768px) {
 .tab-content {
    padding-top: 0px;
  }

  .container .days {
    padding: 20px 30px;
  }

  .responsive-tabs {
    li {
      height: 40px;
    }
  }

  .issues .list_item {
    display: block;
  }

  .moontheme p {
    width: 100% !important;
    float: none;
    display: block !important;
    margin: 15px 0;
  }


}

@media (max-width: 414px) {
  .list_item .img-holder {
    padding-bottom: 15px;
  } 
 
  .current_issue h1 {
    font-size: 2.6em;
  }

  .current_issue .vert-center {
    min-height: 50%;
  }

  .days .key, .days .affirmation {
    padding: 30px;
  }

  .container .days {
    padding: 20px 15px;
  }

  .affirmation {
    border: 2px solid !important;

    .text {
      font-size: 1.2em;
    }
  }

 
  .key {
    margin-top: 30px !important;
  }
}

@media (max-width: 320px) {

  .responsive-tabs {
    padding-bottom: 5px;
    li {
      padding: 0;
      a {
        padding: 8px 10px;
      }
    }
  }
}
