// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$white: #ffffff;
$blackish: #333;

.current_issue {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 30px 0;
  padding: 30px 15px;
  color: $white;
  height: 300px;

  .vert-center {
    min-height: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .line {
    border-bottom: 1px solid $white;
    width: 88px;
    display: block;
    margin: 10px 0;
  }

  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 5em;
  }

  h4 {
    margin: 0px;
    padding: 0 0 10px 0;
    font-size: 2em;
  }

  p, h4 {
    text-transform: uppercase;
  }

}

.current_issue.right-align {
  text-align: right;
  height: 200px !important;
}

.includes {
  text-transform: capitalize !important;
  padding: 0 0 10px 0;
  font-family: 'Quattrocento', serif;
}

.info {
  .issue_no {
    font-weight: 400;
  }
}

#guide_navigation {
  position: relative;
  background-color: $white;
  height: 90px;
}

.fix-nav {
  position: fixed !important;
  top: 10px;
  transition: all .5s;
}

#sidebar {
  position: fixed !important;
  padding: 15px 0 0 0;
  transition: all .25s;
}

.moon-btn {
  display: block;
  background: url(/assets/PinkMoonButton.png) no-repeat center;
  background-size: contain;
  display: block;
  max-width: 200px;
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 66px;
  text-align: center;
  color: $blackish;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Quattrocento', serif;
  line-height: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  margin: 0px auto;
  max-width: 360px;
}

.list_item {
  padding: 30px 0;
  height: 100%;
  overflow: hidden;

  h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.4em;
  }

  .img-holder {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 200px;

    a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .issue-img {
        height: auto;
        width: 100%;
        display: inline-block;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
}



.days {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.3em;
}

@media (max-width: 414px) {
  .list_item .img-holder {
    padding-bottom: 15px;
  } 

  .current_issue h1 {
    font-size: 3em;
  }
}


