// Place all the styles related to the Issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

.current_issue {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 0 30px 0;
  padding: 30px 15px;
  color: $white;
  height: 300px;

  .vert-center {
    min-height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
  }

  .line {
    border-bottom: 1px solid $white;
    width: 88px;
    display: block;
    margin: 10px 0;
  }

  h1 {
    margin: 0px;
    padding: 0px;
    font-size: 5em;
  }

  h4 {
    margin: 0px;
    padding: 0 0 10px 0;
    font-size: 2em;
  }

  p, h4 {
    text-transform: uppercase;
  }

}

.current_issue.right-align {
  text-align: right;
  height: 200px !important;
}

.includes {
  text-transform: capitalize !important;
  padding: 0 0 10px 0;
  font-family: 'Quattrocento', serif;
}

.info {
  .issue_no {
    font-weight: 400;
  }
}

#guide_navigation {
  position: relative;
  width: 100%;
  padding-left: 15px;
}

#sidebar {
  position: relative;
  padding: 0;
  transition: all .5s;
  z-index: 999;
  padding-top: 20px;
}

.fixNav {
  position: fixed !important;
}

.moon-btn {
  position: relative;
  display: block;
  
  display: block;
  max-width: 160px;
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 15px 10px 17px;
  text-align: center;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.2em;
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  text-decoration: none !important;

  span {
    max-width: 80px;
    color: $blackish;
    opacity: 1;
    position: relative;
  }

  .span:hover {
    text-decoration: none;
  }
  
}

.moon-btn:before {
  content:"";
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background: url(image_path("PinkMoonButton.png")) no-repeat center;
  background-size: contain;
  transition: opacity .5s ease;
}
.moon-btn:hover:before {
    opacity: 0.6;
}

.column {
  margin: 0px auto;
  max-width: 360px;
}

.list_item {
  padding: 30px 0;
  height: 100%;
  overflow: hidden;

  h3 {
    padding: 0;
    margin: 0 0 10px 0;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.4em;
  }

  .img-holder {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 200px;

    a {
      display: inline-block;
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .issue-img {
        height: auto;
        width: 100%;
        display: inline-block;
        height: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.days {

  .line {
    border-bottom: 1px solid $gold;
    width: 100%;
    display: block;
    margin-top: 15px;
  }

  p.bold-gold.text-uppercase {
    padding-bottom: 0;
  }

  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.4em;
    line-height: 1.6em;
    padding-bottom: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .days {
    padding-left: 50px;
  }
}


@media (max-width: 414px) {
  .list_item .img-holder {
    padding-bottom: 15px;
  } 

  .current_issue h1 {
    font-size: 3em;
  }

}


