// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_colors.scss";
@import "_fonts.scss";

.cropped_header {
  background: asset-url('moon.jpg') center / cover no-repeat;
  padding: 0;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;

  h1 {
    align-self: center;
    color: $eggshell;
    padding-top: 2em;
    text-transform: uppercase;
    font-family: "Verlag";
  }

}

.page.container {
  max-width: 800px;
  margin: 0px auto;

  h3 {
  	padding: 80px 0 0px 0 !important;
  	text-transform: uppercase;
  	font-family: "Domaine";
  }
}