// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

.daily {
	max-width: 800px;
	margin: 0px auto;
	text-align: left;
	h2 {
		font-family: 'MANIFESTO';
	}

	h4 {
		text-transform: uppercase;
		font-weight: 300;
		.emph-day {
			font-size: 1.2em;
			padding-right: 12px;
		}
	}

	.entry {
		padding: 15px 20px;
		line-height: 3em;
		font-size: 1.2em;
	}

	iframe, object, embed {
	  max-width: 100%;
	}
	
}

blockquote {
	p {
		font-size: 1.2em;
	}
	.badge {
		margin-top: -20px;
	}
}

.like {
	text-decoration: none !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;


}

.heart {
	width: 32px;
	height: 32px;
	font-family: monospace;
	transition: all 2s ease-in-out;
	.stop1 { stop-color: $gold;}
  .stop2 { stop-color: $gold; }
  .stop3 { stop-color: $gold; }
  .stop4 { stop-color: $gold;}
  .stop5 { stop-color: $gold; }
  .stop6 { stop-color: $gold; }
	&.rainbow {
		.stop1 { stop-color: red; stop-opacity: .7;}
    .stop2 { stop-color: orange; stop-opacity: .7; }
    .stop3 { stop-color: yellow; stop-opacity: .7; }
    .stop4 { stop-color: green; stop-opacity: .7;}
    .stop5 { stop-color: blue; stop-opacity: .7; }
    .stop6 { stop-color: purple; stop-opacity: .7; }
	}
}

.share-this {
	iframe {
		display: inline-block;
	}
	a {
		display: inline-block;
		overflow: hidden;
		height: auto;
	}
	.fa {
		font-size: 1.8em;
		padding: 0 10px;
		color: $blackish;
	}

}

.post-listing {
	max-width: 800px;
	margin: 0px auto;
	text-align: center;
	a {
		color: $blackish;
	}
	h4 {
		margin-bottom: 20px;
	}
	h3 {
		font-family: "MANIFESTO";
		padding-bottom: 20px !important;
		font-size: 2.2em !important;
		line-height: 1.8em !important;
	}
}

.comments-section {
	.row {
		padding: 0 0 60px;
	}
}

.read-post {
	font-family: "MANIFESTO";
	color: $blackish;
}

.share-comments {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 10px;
	overflow: hidden;
	height: auto;

	.fa {
		font-size: 1em;
		padding: 0 5px;
		color: $blackish;
	}
}

