// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

.daily {
	max-width: 800px;
	margin: 0px auto;
	text-align: left;
	h2 {
		font-family: 'MANIFESTO';
		text-transform: uppercase;
	}

	h4 {
		text-transform: uppercase;
		font-weight: 300;
		.emph-day {
			font-size: 1.2em;
			padding-right: 12px;
		}
	}

	.entry {
		padding: 15px 20px;
		line-height: 3em;
		font-size: 1.2em;
	}

	iframe, object, embed {
	  max-width: 100%;
	}
	
}

blockquote {
	p {
		font-size: 1.2em;
	}
	.badge {
		margin-top: -20px;
	}
}

.like {
	text-decoration: none !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;


}

.heart {
	width: 32px;
	height: 32px;
	font-family: monospace;
	transition: all 2s ease-in-out;
	.stop1 { stop-color: $gold;}
  .stop2 { stop-color: $gold; }
  .stop3 { stop-color: $gold; }
  .stop4 { stop-color: $gold;}
  .stop5 { stop-color: $gold; }
  .stop6 { stop-color: $gold; }
	&.rainbow {
		.stop1 { stop-color: red; stop-opacity: .7;}
    .stop2 { stop-color: orange; stop-opacity: .7; }
    .stop3 { stop-color: yellow; stop-opacity: .7; }
    .stop4 { stop-color: green; stop-opacity: .7;}
    .stop5 { stop-color: blue; stop-opacity: .7; }
    .stop6 { stop-color: purple; stop-opacity: .7; }
	}
	&.purple {
		.stop1 { stop-color: $purple; stop-opacity: .7;}
    .stop2 { stop-color: $purple; stop-opacity: .7; }
    .stop3 { stop-color: $purple; stop-opacity: .7; }
    .stop4 { stop-color: $purple; stop-opacity: .7;}
    .stop5 { stop-color: $purple; stop-opacity: .7; }
    .stop6 { stop-color: $purple; stop-opacity: .7; }
	}
	&.random {
		.stop1 { stop-color: $gold;}
    .stop2 { stop-color: $mauve;  }
    .stop3 { stop-color: $purple;  }
    .stop4 { stop-color: $purple; }
    .stop5 { stop-color: $mauve;  }
    .stop6 { stop-color: $gold;  }
	}
}

.share-this {
	iframe {
		display: inline-block;
	}
	a {
		display: inline-block;
		overflow: hidden;
		height: auto;
	}
	.fa {
		font-size: 1.8em;
		padding: 0 10px;
	}

}

.post-listing {
	max-width: 800px;
	margin: 0px auto;
	text-align: center;
	a {
		color: $blackish;
	}
	a:hover {
		color: $blackish;
		text-decoration: none;
	}
	h4 {
		margin-bottom: 20px;
		font-size: 2em !important;
		font-weight: 300;
	}
	h3 {
		font-family: "MANIFESTO";
		padding-top: 30px !important;
		font-size: 2em !important;
		line-height: 1.8em !important;
		font-weight: 300;
	}
	h2 {
		font-family: 'MANIFESTO';
		font-weight: 300;
		padding-bottom: 30px !important;
		text-transform: uppercase;
	}
}

.comments-section {
	.row {
		padding: 0 0 60px;
	}
}

.post-listing {
	.row {
		padding: 60px 0 0px;
	}
}

.read-post {
	font-family: "MANIFESTO";
	color: $blackish;
}
a.read-post:hover {
	color: $gold !important;
}

.a2a_kit a {
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 60px;

	&.a2a_counter {
	}

	.fa {
		font-size: 2em;
		padding: 0 5px;
		float: left;
	}
	.fa:hover {
		color: $gold;
	}
}

.st_sharethis_custom{
	cursor: pointer;
	overflow: hidden;
	display: inline-block;
	margin-bottom: 60px;

	.fa {
		font-size: 2em;
		padding: 0 5px;
		float: left;
	}
	.fa:hover {
		color: $gold;
	}
} 

.st_facebook_custom{
	background: no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
	content: "\f09a";
	font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 2em;
  color: $blackish;
  z-index: 1;
} 

.st_twitter_custom{
	background: url("http://path/to/image/twitter-file") no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
} 

.st_linkedin_custom{
	background: url("http://path/to/image/linkedin-file") no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
} 

.st_email_custom{
	background: url("http://path/to/image/email-file") no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
} 

.st_fblike_custom{
	background: url("http://path/to/image/fblike-file") no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
} 

.st_plusone_custom{
	background: url("http://path/to/image/plusone-file") no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
} 

.st_pinterest_custom{
	background: url("http://path/to/image/pinterest-file") no-repeat scroll left top transparent;
	padding:0px 16px 0 0;
} 

