@import "_colors.scss";

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: $white;
  color: $blackish;
  font-size: 1em;
  letter-spacing: .1em;
  line-height: 1.2em;
  margin: 0 auto 260px auto;

  font-family: 'Work Sans', sans-serif;

  > .container {
  }

  > .container-fluid {
    padding: 0;
  }
}

h1, h2, h3, h4 {
  font-family: 'Lato', sans-serif;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
}

a {
  color: $gold;
  text-transform: uppercase;

  &:hover {
    color: $gold;
    text-decoration: underline;
  }
}

ul {
  padding: 0;

  li {
    padding: 4px 0;
  }
}

.bold {
  font-weight: 500;
}

div {
  &.field, &.actions {
    margin: 10px 0;
  }
}

.container {
  position: relative;
}

.logo img {
  max-width: 200px;
  width: 100%;
  height: auto;
  padding-top: 5px;
}

.btn-gold {
  color: $eggshell;
  background-color: $gold;
  border-color: $gold;
  padding: 10px 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  letter-spacing: .1em;
  border-radius: 3px;
  text-transform: uppercase;
  max-width: 200px;
  width: 100%;
}
.btn-gold:hover {
  color: $blackish;
}

.bold-gold {
  text-transform: uppercase;
  color: $gold;
}

.login-form {
  width: 300px;
  margin: 0px auto;
}

.share {
  background-color: $eggshell;
  border-top: 1px solid $gold;
  color: $gold;
  padding: 60px 10px;
  margin: 0px auto;
  text-align: center;

  p {
    font-size: 1.65em;
    font-weight: 100;
    font-family: 'Lato', sans-serif;
    line-height: 1.65em;
  }

  a {
    font-family: 'Work Sans', sans-serif;
    font-size: .75em;
    font-weight: 800;
    padding: 0 0 0 20px;
  }
}

.copyright {
  background-color: $gold;
  margin: 0px auto;
  text-align: center;

  p {
    font-family: 'Work Sans', sans-serif;
    color: $eggshell;
    font-size: .75em; 
    padding: 10px 0 0;
  }
}

.nav-tabs {
  margin: 0px auto;
  text-align: center;
  border-bottom: none;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #fff;
  opacity: .6;
  transition: opacity .5s ease forward;
}


.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
  color: $blackish;
  background-color: #fff;
  border-bottom: 2px solid $gold;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  cursor: default;
}


.nav-tabs > li {
  padding-left: 0;
  float: none;
  display: inline-block;
}

.nav-tabs > li > a {
  margin-right: 0px;
  line-height: 1.42857143;
  border: none;
  padding: 10px;
  font-size: 1.2em;
}

.tab-content {
  text-align: left;
  padding-top: 30px;
}

#error_explanation {
  width: 450px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f2dede;
  border-radius: 10px;
  overflow: auto;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0 5px 5px 15px;
    font-size: 12px;
    margin-bottom: 0px;
    background-color: #f2dede;
    color: $blackish;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

@media (max-width: 900px) {
  .nav-tabs > li > a {
    font-size: .85em;
  }
}

@media (max-width: 699px) {
  .nav-tabs > li > a {
    font-size: .75em;
  }
}

@media (max-width: 630px) {
  .nav-tabs > li > a {
    font-size: .6em;
  }
}

@media (max-width: 414px) {

  .logo img {
    max-width: 360px;
  }

  // Align text to center.
  .text-xs-center {
    text-align: center;
  } 
}
