// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

.welcome {
  .container {
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
  }
}

#home_header {
	background-image: image-url('home_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0;
  height: auto;
  width: 100%;
}

.manifesto {
	h4 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
		line-height: 2em;
	}
}

.readmore {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  border-top: 1px solid $gold;
  overflow: hidden;
  position:relative;
  display: block;
  background-image: image-url('read_more.png');
  background-repeat: no-repeat;
  background-position: center 32px;
  background-size: 190px;
  height: 200px;

  .an-btn {
    margin: 0;
    border: 1px solid $gold;
    color: $gold;
  }
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;

  .thumbnail img {
    align-self: center;
    padding-top: 40px;
    width: 230px;
  }

  .row {
    padding: 100px 0;
    > .col-sm-6 {
      padding-right: 0;
    }
  }
  .entry {
    text-align: left;
    line-height: 3em;
    font-size: 1.2em;
    padding: 15px 0;
  }
}

.latestvideo {
  h4 {
    padding-bottom: 15px;
  }

  a {
    color: $blackish;
    text-transform: capitalize;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 15px;
    display: block;
    font-weight: 400;
  }

  .videoholder {

    background-image: image-url('youtube_border.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0px auto;
    text-align: center;

    .videoborder {
      border-top: 1px solid #b3b2b2;
      border-bottom: 1px solid #b3b2b2;
      max-width: 460px;
      margin: 0px auto;
      padding: 30px 0;
    }
  }
}

.purple-bg {
	background-image: image-url('purple_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 0;
  overflow: hidden;
  width: 100%;
  color: $white; 
}

.moonvibetribe {
  .row {
    height: 360;
  }
  

  h3 {
    font-family: "MANIFESTO";
    margin-top: 0px;
  }

  .entry {
    padding: 15px 20px;
    line-height: 3em;
    font-size: 1.2em;
  }
  p {
    margin: 0px auto;
    text-align: center;
  }
  .an-btn {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
  }

  .button {
    padding-bottom: 0;
  }
}

.birthchart,
.moonplanner {
  display: flex;
  justify-content: center;
  align-items: center;

  h4 {
    font-size: 2.4em;
  }

   p {
    line-height: 2.4em;
    padding: 15px 0;
    font-weight: 300;
    margin: 0px auto;
  }

  .an-btn {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
  }

}



.apothecary {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    line-height: 2.6em;
    font-size: 1.2em;
    padding: 10px 0;
    font-weight: 300;
  }
  .an-btn {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
  }

}

.latestitems {
  h3, h5 {
    font-family: 'MANIFESTO';
    padding-bottom: 15px;
    margin-bottom: 0;
  }

  .an-btn {
    width: 180px;
    margin-bottom: 40px;
  }

  .col-sm-4 {
    padding: 0;
  }

  .container  {
    border-top: 1px solid rgba($gold, .3);
    border-bottom: 1px solid rgba($gold, .3);
    margin: 0px auto;
    padding: 0;
  }

  .shop-img {
    margin: 15px 0;
    display: inline-block;
    overflow: hidden;
    img {
      width: 180px;
      height: 180px;
    }
  }

  h4 {
    width: 150px;
    margin: 0px auto;
    padding-bottom: 15px;
    font-family: 'Lato', sans-serif;             
    a {
      color: $blackish;
      font-size: .9em;
      font-weight: 400;
    }

  }

  .insta {
    padding: 30px 0 0;

    h5 {
      padding-bottom: 30px;
      padding-top:  0;
    }
    .container  {
      border-top: none;
      border-bottom: none;
    }
  }
}

.connect {
  padding: 20px 0 0;
  a {
    margin: 5px;

    i.fa {
      color: $white;  
      width: 30px;
      padding: 10px 5px 10px 6px; 
      background-color: #333;
      border-radius: 100%;
    }

    i.fa:hover {
      background-color: #eee;
      color: $blackish;
      transition: .2s all ease-in-out;
    }
  }
}

.testimonials {

  .carousel-indicators {
    bottom: -40px
  }

  .thumbnail {
    margin: 35px 0;
    display: inline-block;
    overflow: hidden;
    border-radius: 0;
    
  }
  .testimonial-img {
    width: 180px;
    height: 180px;
  }

  .item {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2em;
    line-height: 2em;
  }

  h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
  }
}



@media (max-width: 414px) {
  #home_header {
    width: 100%;
    height: 200px;
  }
}
