// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "_colors.scss";

#home_header {
	background-image: image-url('home_header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 0 30px 0;
  padding: 0;
  height: 450px;
  width: 100%;
}

.manifesto {
	h4 {
		font-weight: 400;
		line-height: 1.5em;
	}
}

.readmore img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.latestvideo {
  h4 {
    font-family: 'MANIFESTO';
    padding-bottom: 15px;
  }

  a {
    color: $blackish;
    text-transform: capitalize;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 15px;
    display: block;
    font-weight: 400;
  }

  .videoholder {

    background-image: image-url('youtube_border.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin: 0px auto;
    text-align: center;

    .videoborder {
      border-top: 1px solid #b3b2b2;
      border-bottom: 1px solid #b3b2b2;
      padding: 40px 0;
      max-width: 560px;
      margin: 0px auto;
    }
  }
}

.moonplanner,
.moonvibetribe,
.birthchart,
.apothecary {
	background-image: image-url('purple_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 0 30px 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  color: $white; 
}

.latestitems {
  h3 {
    font-family: 'MANIFESTO';
    padding-bottom: 15px;
  }
}

@media (max-width: 414px) {
  #home_header {
    width: 100%;
    height: 200px;
  }
}
