<div class="col-xs-12 navbar-bottom">
  <div class="container-fluid">
  	<div class="col-xs-12 share">
	    <p>Share the Moon Vibe Guide with a Friend 
	    	<%= link_to "EMAIL", "mailto:?subject=Check out the Moon Vibe Guide&body=Read more about it here: http://www.aquariusnation.com/moonvibeguide" %> 

	    	<%= link_to "FACEBOOK", "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.aquariusnation.com%2Fmoonvibeguide&amp;src=sdkpreparse", class: 'fb-share-button', target: "_blank" %>
	    </p>
	  </div>

  	<div class="col-xs-12 copyright">
  		<p>copyright Aquarius Nation, all rights reserved</p>
  	</div>
	</div>
</div>