<div class="col-xs-12 navbar-bottom footer">
  <div class="container-fluid">
  	<div class="col-xs-12 text-center">
	    <p>Made with love &amp; healing <br />by</p>
	    <h4>THE AQUARIUS NATION TEAM</h4>
	    <p class="bottom">copyright Aquarius Nation <%= Time.now.year %>, all rights reserved</p>
	  </div>		
	</div>
</div>
