<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p>Share the Moon Vibe Guide with a friend 
    	<%= link_to "EMAIL", "mailto:?subject=Check out the Moon Vibe Guide&body=Read more about it here: http://www.aquariusnation.com/moonvibeguide" %> 

    	<%= link_to "FACEBOOK", "https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.aquariusnation.com%2Fmoonvibeguide&amp;src=sdkpreparse", class: 'fb-share-button', target: "_blank" %></p>

	</div>
  </div>
</nav>