<div class="col-xs-12 navbar-bottom">
  <div class="container-fluid">
  	<div class="col-xs-12 share text-center">
	    
	</div>

  	<div class="col-xs-12 copyright">
  		<p>copyright Heather Allaman <%= Time.now.year %>, all rights reserved</p>
  	</div>
	</div>
</div>