<div class="topbar container-fluid">
  <div class="container topbar-items">
		
		<div class="message pull-left"><%= newsbar.message.html_safe if newsbar.present? %></div>

		<p class="pull-right">
			<%= link_to 'Subscribe Now ' + subscribers, 'http://eepurl.com/crMxQL', target: '_blank', class: 'btn btn-default' %>
		</p>
	</div>
</div>